html{
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    color: bisque;
    background-color: brown;
}

a{
    color: aqua;
}

a:hover{
    color: chartreuse;
}

h2{
    color: gold;
}

table{
    width: 100%;
}

.maxWith{
    max-width: 100%;
    
}